@page
@model AR_Docent.website.Pages.Products.IndexModel
@{
}

<br />
<h2>List of Products</h2>
<a class='btn btn-primary btn-sm' href='/Products/Create'>New Product</a>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Title</th>
			<th>Create At</th>
			<th>Content</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model.ProductInfos)
		{
			<tr>
				<td>@item.id</td>
				<td>@item.title</td>
				<td>@item.name</td>
				<td>@item.created_at</td>
				<td>
					<a class="btn btn-primary btn-sm"
						href="/Products/Edit?id=@item.id&name=@item.name&title=@item.title">Edit</a>
					<a class="btn btn-primary btn-sm"
						href="/Products/Delete?id=@item.id&name=@item.name&title=@item.title">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
